body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif; /* Change the font family here */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb; /* Change the background color here */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

